{% if content %}
  <div{{ attributes.addClass('row') }}>

    {% if content.first %}
      <div class="col col-lg-6 col-sm-12">
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div class="col col-lg-6 col-sm-12">
        {{ content.second }}
      </div>
    {% endif %}

  </div>
{% endif %}
