{#
/**
 * @file views-bootstrap-cards.html.twig
 * Default simple view template to display Bootstrap Cards.
 *
 *
 * - rows: Contains a nested array of rows. Each row contains an array of
 *   columns.
 *
 * @ingroup views_templates
 */
#}


<div class="card-columns">
  {% for key, row in rows -%}
    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        {# Show image #}
        {% if row.image %}
          {{ row.image }}
        {% endif %}
        <div class="card-body">
        {% if row.title %}
          <h5 class="card-title">{{ row.title }}</h5>
        {% endif %}
        {% if row.content %}
          <p class="card-text"> {{ row.content }}</p>
        {% endif %}
        </div>
      </div>
    </div>
  {%- endfor %}
</div>
